/*global $*/
.jumbotron {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h5 {
  font-style: italic;
  text-align: center;
}

body {
  background-color: rgb(164, 209, 209);
}

.card {
  padding: 20px;
  margin: auto;
  margin-bottom: 1rem;
  background-color: #e9ecef;
}

#ruby1, #csharp, #jas1, #go, #python {
  display: none;
}

.image {
  border: solid black 10px;
  border-style: double;
}

.btn {
  background-color: black;
  color: aliceblue;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-style: italic;
  font-size: larger;
}

img {
  width: 40%;
  border: solid black 5px;
}
